body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style each section div to be full-width */
.entry-banner, .specials, .testimonials, .about {
  width: 100%;
  padding: 20px; /* Add padding for content spacing */
}

/* Background colors for visual distinction */
.entry-banner {
  background-color: #495e57; /* Light gray background */
  height: 200px; /* Set height to create visible sections */
}

.specials {
  background-color: #ffffff; /* Light green background */
  height: 200px;
}

.testimonials {
  background-color: #fff3e0; /* Light orange background */
  height: 200px;
}

.about {
  background-color: #ffffff; /* Light blue background */
  height: 200px;
}

footer {
  background-color: #edefee;
  padding: 10px 20px;
  text-align: center;
  display: flex;
}

footer ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #495e57;
}

a:hover {
  color: #333333;
}

img {
  padding-left: 5%;
}

